<section id="hero">
  <div
    id="heroCarousel"
    data-bs-interval="5000"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">
      <!-- Slide 1 -->
      <div
        class="carousel-item active"
        style="background-image: url(../../../assets/image/slide/slide-3.jpg)"
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">
              Welcome to <span>Mentation</span>
            </h2>
            <p class="animate__animated animate__fadeInUp">
              We are technical Global company. We are bringing people and
              technology of the different parts of the world together to make
              and achieve technical solutions.
            </p>
            <a
              href="#about"
              class="btn-get-started animate__animated animate__fadeInUp scrollto"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div
        class="carousel-item"
        style="background-image: url(../../../assets/image/slide/slide-2.jpg)"
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">
              mentation technologies private limited
            </h2>
            <p class="animate__animated animate__fadeInUp">
              We in Mentation are team of technology and solutions focused
              professionals. We understand and work to make India and world a
              digital space. Our endeavor is to provide technology and deliver
              solutions for manufacturing and service industries.
            </p>
            <a
              href="#about"
              class="btn-get-started animate__animated animate__fadeInUp scrollto"
              >Read More</a
            >
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div
        class="carousel-item"
        style="background-image: url(../../../assets/image/slide/slide-3.jpg)"
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">
              Get Best Products Compare to Everywhere
            </h2>
            <p class="animate__animated animate__fadeInUp">
              You are more than welcomed to leave your contact info and we will
              be in touch shortly
            </p>
            <a
              href="#about"
              class="btn-get-started animate__animated animate__fadeInUp scrollto"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>

    <a
      class="carousel-control-prev"
      href="#heroCarousel"
      role="button"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon bi bi-chevron-left"
        aria-hidden="true"
      ></span>
    </a>

    <a
      class="carousel-control-next"
      href="#heroCarousel"
      role="button"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon bi bi-chevron-right"
        aria-hidden="true"
      ></span>
    </a>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <div class="row content">
      <div class="col-lg-6">
        <h2>WELCOME TO MENTATION TECHNOLOGIES</h2>
        <h3>We aim to provide quality solutions to our customers</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          We in Mentation are team of technology and solutions focused
          professionals. We understand and work to make India and world a
          digital space. Our endeavor is to provide technology and deliver
          solutions for manufacturing and service industries.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> INDUSTRIAL MAINTENANCE</li>
          <li><i class="ri-check-double-line"></i> INDUSTRIAL SAFETY</li>
          <li><i class="ri-check-double-line"></i> PUBLIC SAFETY</li>

          <li>
            <i class="ri-check-double-line"></i> BUSINESS CONSULTANCY & SOLUTION
          </li>
        </ul>
        <p class="fst-italic">
          We are continuously working on improving our service and introducing
          leading edge technology and products to provide best technical
          solution.
        </p>
      </div>
    </div>
  </div>
</section>
