
#main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  width: 90%;
  margin: auto;


}

.btn1{
  margin-left: 35px;
}


.products{
  background-color: aliceblue;
  border-radius: 10px;
}
